/*  Munashe Madziwanyika - g23M8754
    Theodore Masi - g23M7028
    Kyle Nkomo - g23N8653
    Keith Dube - g23D5910 
*/

:root {
    --primary-color: #B03A2D;
    --secondary-color: #D58936;
    --neutral: #C1C6C9;
    --text-color: #383232;
    --background-color: #F0F3F5;
    --box-radius: 12px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    --navbar-width: 20%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    background-color: white

}


/*makes the nav bar fixed vertically*/
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--navbar-width);
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 12px rgba(0,0,0,0.08);
    z-index: 100;
    transition: width 0.3s;
}

.nav-logo {/*makes the logo andf title float next to eachother*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem 1rem 1rem;
    gap: 1rem;
}

.nav-logo h2 {
    color: var(--background-color);
    font-size: 2rem;
    text-wrap: wrap;

    transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s;
    overflow: hidden;
    max-height: 500px; /* enough to show all items */
    opacity: 1;
    padding: 1rem;
}

.nav-logo img {  /*Logo*/
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

.nav-bar h2 {
    color: var(--background-color);
    text-align: center;
}

.nav-links {
    list-style: none;
    margin-top: 1rem;

    transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s;
    overflow: hidden;
    max-height: 500px; /* enough to show all items */
    opacity: 1;
    padding: 1rem 0;
}


.nav-links li {
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    transition: background 0.2s;
}


.nav-links a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    color: var(--background-color);
    text-decoration: none;
    padding: clamp(0.5rem, 1vw, 1rem);
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    transition: background 0.2s color 0.3s;
}

.nav-links a i,
.bottom-links a i {
    margin-right: 0.7em;
    min-width: 1.2em;
    text-align: center;
}

.nav-links a.active,
.nav-links li:hover,
.bottom-links a:hover {
    background-color: #c94d3f;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    color: var(--background-color);
}

/*logout button*/
.bottom-links {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-top: 1px solid var(--neutral);
    gap: 1rem;
}

.bottom-links li {
    width: auto;
    margin-left: 1rem;
    border-radius: var(--box-radius);
    text-align: center;
    font-size: 1.2rem;
}

.bottom-links a {/*logout button styling*/
    background: #c94d3f;
    color: var(--background-color);
    border: none;
    border-radius: var(--box-radius);
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    text-decoration: none;
}/*SIDEBAR ENDS*/



.header{/*displays the current tab name and user info*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid var(--neutral);
    background-color: var(--background-color);
    border-radius: var(--box-radius);
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
}


.header h1 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: 1px;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: var(--text-color);
    font-size: 1.2rem;
    border-radius: var(--box-radius);
}

.user-info p {
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.user-info img {
    width: clamp(40px, 5vw, 50px);
    height: clamp(40px, 5vw, 50px);
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
}


/* push main sections to the right of the sidebar */
main {
    margin-left: var(--navbar-width); /* same as nav-bar width */
    padding: 0rem;
    width: 80%;
    transition: margin-left 0.3s, width 0.3s;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 100vh;
}



/*overview section*/
.overview{  
    /*cards will float in line */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}


#top-manga{
    text-align: left;
}
.overview-card{
    display: flex;
    flex: 1 1 200px;
    flex-direction: column;
    justify-content: center;
    min-width: 150px;      
    min-height: 40px;   
    padding: 0.5rem 1rem;
    background-color: var(--background-color);
    border-radius: var(--box-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    align-items: center;
    color: var(--text-color);
    transition: transform 0.3s ease;
}

.overview-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.overview-card h3 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

.overview-card p {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: bold;
}


.table-container h3{
    margin-bottom: 1rem;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    color: var(--text-color);
    text-align: left;
}

table th, table td {
    font-size: clamp(0.9rem, 1.5vw, 1rem);
}

.messages{
    padding: 2rem 0;
}

.graph-card h3{
    color: var(--text-color);
    font-size: clamp(1.5rem, 2vw, 2rem);
}




/* Custom Scrollbar */
html::-webkit-scrollbar {
  width: 6px; /* Slimmer scroll bar */
}
html::-webkit-scrollbar-track {
  background: #f1f1f1;
}
html::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
html::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/* Media Queries for screens smaller than 780px */
@media (max-width: 780px) {
    :root{
        --sidebar-width: 60px;
    }

    /* Sidebar adjustments */
    .nav-bar {
        width: 60px;
        overflow: hidden;
    }

    .nav-logo h2 {
        display: none; /* Hide logo text */
    }

    .nav-links a {
        justify-content: center;
        padding: 0.6rem;
        text-wrap: wrap;
    }

    .nav-links a i {
        margin-right: 0;
    }

    .bottom-links {
        padding: 1rem 0;
    }

    /* Main content adjustments */
    main {
        margin-left: var(--navbar-width); /* match new sidebar width */
        width: calc(100% - var(--navbar-width));
        padding: 1rem;
    }

    /* Header adjustments */
    .header {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    .header h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .user-info {
        justify-content: center;
    }

    /* Overview cards stack vertically */
    .overview {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .overview-card {
        width: 1 1 200px;
        min-width: 150px;
    }

    /* Adjust top manga list */
    #top-manga ol {
        padding-left: 1rem;
    }

    .table-container table{
        width: 100%;
        min-width: 600px;
    }

    .graph-card canvas{
        width: 100%;
        height: auto;
    }

    .overview-card h3{
        font-size: 1.2rem;
    }

    .overview-card p{
        font-size: 1.5rem;
    }

    .user-info p{
        font-size: 1rem;
    }
}
