/*  Munashe Madziwanyika - g23M8754
    Theodore Masi - g23M7028
    Kyle Nkomo - g23N8653
    Keith Dube - g23D5910 
*/

:root{
    --primary-color: #B03A2D;
    --secondary-color: #D58936;
    --neutral: #C1C6C9;
    --text-color: #383232;
    --background-color: #F0F3F5;
    --box-radius: 12px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

body {
    height: 100vh; /* Full height of the screen */
    width: 100%;
    display: flex;
    justify-content: center; /* Horizontal align */
    align-items: center; /* Vertical align */
    font-family: 'Segoe UI';
}

.back {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px 10px;
    box-shadow: var(--box-shadow);
    border-radius: var(--box-radius);
    background-color: var(--neutral);
    color: black;
    text-decoration: none;
}

#login-form, #signup-form {
    height: auto;
    background-color: var(--background-color);
    color: var(--text-color);
    border-style: solid;
    display: flex;
    flex-direction: column;
    border-radius: var(--box-radius);
    box-shadow: var(--box-shadow);
    padding: 20px 40px 20px;
    width: fit-content;
}

.input-box {
    position: relative;
    margin: 10px 0;
    width: 310px;
    border-bottom: 2px solid var(--neutral);
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: var(--neutral);
    font-size: 1em;
    transition: .5s;
}

input:focus~label,
input:valid~label,
.up {
    top: -5px; /* Move label up if the input field is clicked or has input */
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: var(--text-color);
}

#show {
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: none;
}

.names, .contacts {
    display: flex; /* First name and last name to be next to each other */
    justify-content: space-between;
    gap: 25px;
}

.role {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.role label {
    color: var(--neutral);
}

.role select {
    border-color: var(--neutral);
    border-radius: var(--box-radius);
    padding: 5px;
}

@media (max-width: 768px) {
    .signup-form {
        border-style: none;
    }
    
    .names, .contacts {
        flex-direction: column; /* So that the form is not too wide */
    }
    
    .role {
        width: 100%;    
    }
}

.signup-form select, .login-form select {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: var(--box-radius);
    border: 2px solid var(--neutral);
    font-size: 1rem;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.login {
    display: flex;
    justify-content: center;
}

#login-btn, #signup-btn {
    background-color: var(--neutral);
    border-radius: var(--box-radius);
    border-style: none;
    padding: 10px;
}

#signup-btn:disabled {
    cursor: none;
}

#login-btn:hover, #signup-btn:hover, #reset-btn:hover {
    cursor: pointer;
}

#reset-btn {
    color: white;
    background-color: var(--primary-color);
    border-radius: var(--box-radius);
    border-style: none;
    padding: 10px;
    cursor: pointer;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

/* Custom Scrollbar */
html::-webkit-scrollbar {
  width: 6px; /* Slimmer scroll bar */
}
html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}